body{
    background-color: aqua;
}
h1{
    color: blue;
}
container{
    width: 130px;
    height: 60px;
    display: table;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}